absl-py==1.2.0
alembic==1.8.1
antlr4-python3-runtime==4.9.3
cachetools==5.2.0
certifi==2022.6.15
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.1.0
cycler==0.11.0
databricks-cli==0.17.3
DIL==0.0.3
dill==0.3.5.1
docker==5.0.3
einops==0.4.1
entrypoints==0.4
Flask==2.2.2
fonttools==4.37.1
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.11.0
google-auth-oauthlib==0.4.6
greenlet==1.1.3
grpcio==1.48.1
gunicorn==20.1.0
idna==3.3
imageio==2.21.2
importlib-metadata==4.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
kiwisolver==1.4.4
lpips==0.1.4
Mako==1.2.2
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.3
mlflow==1.28.0
monai==0.9.1
networkx==2.8.6
nibabel==4.0.2
numpy==1.23.2
oauthlib==3.2.0
omegaconf==2.2.3
opencv-python==4.6.0.66
packaging==21.3
pandas==1.4.4
patsy==0.5.2
Pillow==9.2.0
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.3
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyJWT==2.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
PyWavelets==1.3.0
PyYAML==6.0
querystring-parser==1.2.4
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.9.1
six==1.16.0
sklearn==0.0
smmap==5.0.0
SQLAlchemy==1.4.41
sqlparse==0.4.2
statsmodels==0.13.2
tabulate==0.8.10
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
threadpoolctl==3.1.0
tifffile==2022.8.12
torch==1.12.1
torchvision==0.13.1
tqdm==4.64.1
typing_extensions==4.3.0
urllib3==1.26.12
websocket-client==1.4.1
Werkzeug==2.2.2
zipp==3.8.1
